h1{
   text-align: center;
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
}
p{
  font-size: 34px;
}
body {
  font-family: Verdana;
  color: lightseagreen;
  background-color: #000751
}
p{
color: #000751;
background-color: powderblue;
text-align : center;
font-size: 34px;
font-family: Georgia, "Times New Roman";
font-style: italic
}
ul li {
  display: inline;
}
li a:hover {
    background-color: #0015ff;
    color: gold;
}
p.antwoord{
  color: LightSeagreen;
  background-color: LightSeagreen;

}
p.antwoord:hover {
  color: blue;
}
